/AUTO
/boot
/COLL
/CTRL
/CTRLSUBS
/FRAMEADV
/FRAMEDEF
/GAMEBG
/GRAFIX.525
/HIRES
/HRTABLES
/LOSHOW
/MASTER.525
/MISC
/MOVER
/RW18
/SEQTABLE
/SOUND
/SPECIALK
/SPECIALK.DBG
/SPECIALK.DEV
/SPECIALK.KBD
/SUBS
/TABLES
/TOPCTRL
/UNPACK.525
/VERSION
/VERSION.DBG
/VERSION.DEV
/VERSION.KBD
/_FileInformation.txt
/*_Output.txt