.DS_Store
/PrinceOfPersia_3.5.hdv
/PrinceOfPersia_5.25_SideA.nib
/PrinceOfPersia_5.25_SideB.nib
/obj/
/merlin32/AUTO
/merlin32/boot
/merlin32/COLL
/merlin32/CTRL
/merlin32/CTRLSUBS
/merlin32/FRAMEADV
/merlin32/FRAMEDEF
/merlin32/GAMEBG
/merlin32/GRAFIX.525
/merlin32/HIRES
/merlin32/HRTABLES
/merlin32/MASTER.525
/merlin32/MISC
/merlin32/MOVER
/merlin32/RW18
/merlin32/SEQTABLE
/merlin32/SOUND
/merlin32/SPECIALK
/merlin32/SPECIALK.DBG
/merlin32/SPECIALK.DEV
/merlin32/SPECIALK.KBD
/merlin32/SUBS
/merlin32/TABLES
/merlin32/TOPCTRL
/merlin32/UNPACK.525
/merlin32/VERSION
/merlin32/VERSION.DBG
/merlin32/VERSION.DEV
/merlin32/VERSION.KBD
/merlin32/_FileInformation.txt